# Sauna checking
# Email and password for logging into your säkerhetsintergrering aptus account
EMAIL=<VALUE>
PASSWORD=<VALUE>
# URL for logging into to your säkerhetsintergrering aptus account
LOGIN_URL=<VALUE>
# URL for the sauna booking page
SAUNA_URL=<VALUE>
# Set to true if running on a Raspberry Pi to use the correct Chromium binary path
IS_RASPBERRY_PI=<VALUE>

# Email sending
# Configuration for nodemailer package.
# See https://nodemailer.com for supported email services and configuration options.
EMAIL_SERVICE=<VALUE>
EMAIL_HOST=<VALUE>
EMAIL_PORT=<VALUE>
EMAIL_USER=<VALUE>
EMAIL_PASSWORD=<VALUE>